<br>
<div class="row">
   <div class="small-11 small-centered large-centered columns">
    <div class="panel-login-header"><span class="titleloginbody text-center">Admin [ Editing article ]</span></div>
    <div class="panel-login-body clearfix">
      <div class="row">
        <div class="large-12 columns" role="content">
            <h3>Editing article</h3>
            <hr />

<%= render 'form' %>

<%= link_to 'Show', @article , class: "linkform"%> |
<%= link_to 'Back', articles_path , class: "linkform"%>
</div>
</div>
</div>
</div>
</div>
